{% extends 'base.html.twig' %}

{% block title %}New Cryptomonnaie{% endblock %}

{% block body %}
    <h1>Create new Cryptomonnaie</h1>

    {{ include('cryptomonnaie/_form.html.twig') }}

    <a href="{{ path('cryptomonnaie_index') }}">back to list</a>
{% endblock %}
