{% extends 'base.html.twig' %}

{% block title %}New Blockchain{% endblock %}

{% block body %}
    <h1>Create new Blockchain</h1>

    {{ include('blockchain/_form.html.twig') }}

    <a href="{{ path('blockchain_index') }}">back to list</a>
{% endblock %}
