{% extends 'base.html.twig' %}

{% block title %}New Wallet{% endblock %}

{% block body %}
    <h1>Create new Wallet</h1>

    {% if error is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error !</strong> <br/>
            {{ error }}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {{ include('wallet/_form.html.twig') }}

    <a href="{{ path('wallet_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#wallet>div").addClass('form-group');
            $("#wallet>div>input").addClass('form-control');
            $("#wallet>div>select").addClass('custom-select');
        });
    </script>
{% endblock %}