{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <h2>Modifier informations</h2>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $("input").addClass('form-control');
    </script>

{% endblock %}